[Desktop Entry]
Name=Strike
Name[ca]=Strike
Name[ca@valencia]=Strike
Name[cs]=Strike
Name[de]=Strike
Name[en_GB]=Strike
Name[eo]=Strike
Name[es]=Strike
Name[eu]=Strike
Name[fi]=Strike
Name[fr]=Strike
Name[gl]=Strike
Name[it]=Strike
Name[ka]=Strike
Name[ko]=Strike
Name[nl]=Strike
Name[pl]=Strike
Name[pt]=Strike
Name[pt_BR]=Strike
Name[sk]=Strike
Name[sl]=Strike
Name[sv]=Strike
Name[tr]=Strike
Name[uk]=Strike
Name[x-test]=xxStrikexx
Name[zh_CN]=Strike
Name[zh_TW]=Strike
Comment=Simple convergent IDE
Comment[ca]=IDE convergent senzill
Comment[ca@valencia]=IDE convergent senzill
Comment[en_GB]=Simple convergent IDE
Comment[eo]=Simpla konverĝa IDE
Comment[es]=Sencillo IDE convergente
Comment[eu]=IDE konbergente sinplea
Comment[fi]=Yksinkertainen mukautuva kehityskäyttöliittymä
Comment[fr]=Un environnement de développement simple et convergent
Comment[gl]=IDE sinxelo e converxente.
Comment[it]=IDE semplice e convergente
Comment[ka]=მარტივი კონვერგენტული IDE
Comment[ko]=간단한 올인원 IDE
Comment[nl]=Eenvoudige convergente IDE
Comment[pl]=Prosty dostosowujący się IDE
Comment[pt]=IDE convergente e simples
Comment[pt_BR]=IDE convergente simples
Comment[sk]=Jednoduché konvergentné IDE
Comment[sl]=Enostavno konvergentno interaktivno razvojno okolje
Comment[sv]=Enkel konvergent integrerad utvecklingsmiljö
Comment[tr]=Yalın yakınsak tümleşik geliştirme ortamı
Comment[uk]=Просте і цілеспрямоване комплексне середовище розробки
Comment[x-test]=xxSimple convergent IDExx
Comment[zh_CN]=简易桌面与移动平台通用 IDE
Comment[zh_TW]=簡潔的響應式 IDE
TryExec=strike
Exec=strike %U
Terminal=false
Type=Application
Categories=Qt;KDE;Development;IDE;
GenericName=Simple IDE
GenericName[ca]=IDE senzill
GenericName[ca@valencia]=IDE senzill
GenericName[cs]=Jednoduché IDE
GenericName[de]=Einfache Entwicklungsumgebung
GenericName[en_GB]=Simple IDE
GenericName[eo]=Simpla IDE
GenericName[es]=IDE sencillo
GenericName[eu]=IDE sinplea
GenericName[fi]=Yksinkertainen kehityskäyttöliittymä
GenericName[fr]=Un environnement de développement simple
GenericName[gl]=IDE sinxelo
GenericName[it]=Semplice IDE
GenericName[ka]=მარტივი IDE
GenericName[ko]=간단한 IDE
GenericName[nl]=Eenvoudige IDE
GenericName[pl]=Prosty IDE
GenericName[pt]=IDE Simples
GenericName[pt_BR]=IDE simples
GenericName[sk]=Jednoduché IDE
GenericName[sl]=Enostavno interaktivno razvojno okolje
GenericName[sv]=Enkel integrerad utvecklingsmiljö
GenericName[tr]=Yalın Tümleşik Geliştirme Ortamı
GenericName[uk]=Просте IDE
GenericName[x-test]=xxSimple IDExx
GenericName[zh_CN]=简易 IDE
GenericName[zh_TW]=簡潔的 IDE
StartupNotify=true
Icon=strike
MimeType=text/x-cmake;
