[Desktop Entry]
Name=Strike
Name[ca]=Strike
Name[ca@valencia]=Strike
Name[cs]=Strike
Name[es]=Strike
Name[fr]=Strike
Name[nl]=Strike
Name[sk]=Strike
Name[sl]=Strike
Name[sv]=Strike
Name[uk]=Strike
Name[x-test]=xxStrikexx
Comment=Simple convergent IDE
Comment[ca]=IDE convergent senzill
Comment[ca@valencia]=IDE convergent senzill
Comment[es]=Sencillo IDE convergente
Comment[fr]=Un environnement de développement simple et convergent
Comment[nl]=Eenvoudige convergente IDE
Comment[sk]=Jednoduché konvergentné IDE
Comment[sl]=Enostavno konvergentno interaktivno razvojno okolje
Comment[sv]=Enkel konvergent integrerad utvecklingsmiljö
Comment[uk]=Просте і цілеспрямоване комплексне середовище розробки
Comment[x-test]=xxSimple convergent IDExx
TryExec=strike
Exec=strike %U
Terminal=false
Type=Application
Categories=Qt;KDE;Development;IDE;
GenericName=Simple IDE
GenericName[ca]=IDE senzill
GenericName[ca@valencia]=IDE senzill
GenericName[cs]=Jednoduché IDE
GenericName[es]=IDE sencillo
GenericName[fr]=Un environnement de développement simple
GenericName[nl]=Eenvoudige IDE
GenericName[sk]=Jednoduché IDE
GenericName[sl]=Enostavno interaktivno razvojno okolje
GenericName[sv]=Enkel integrerad utvecklingsmiljö
GenericName[uk]=Просте IDE
GenericName[x-test]=xxSimple IDExx
StartupNotify=true
Icon=strike
MimeType=text/x-cmake;
