[Desktop Entry]
Name=Strike
Name[ca]=Strike
Name[es]=Strike
Name[nl]=Strike
Name[sv]=Strike
Name[uk]=Strike
Name[x-test]=xxStrikexx
Comment=Simple convergent IDE
Comment[ca]=IDE convergent senzill
Comment[es]=Sencillo IDE convergente
Comment[nl]=Eenvoudige convergente IDE
Comment[sv]=Enkel konvergent integrerad utvecklingsmiljö
Comment[uk]=Просте і цілеспрямоване комплексне середовище розробки
Comment[x-test]=xxSimple convergent IDExx
TryExec=strike
Exec=strike %U
Terminal=false
Type=Application
Categories=Qt;KDE;Development;IDE;
GenericName=Simple IDE
GenericName[ca]=IDE senzill
GenericName[es]=IDE sencillo
GenericName[nl]=Eenvoudige IDE
GenericName[sv]=Enkel integrerad utvecklingsmiljö
GenericName[uk]=Просте IDE
GenericName[x-test]=xxSimple IDExx
StartupNotify=true
Icon=strike
MimeType=text/x-cmake;
